/* Main CSS for Insider-Journeys Microsite */
@charset "UTF-8";

body, p {
    font-size: 1.2rem;
  }

.phone {
    background-image: url("../icons/icon-phone-white.svg");
    background-position: 0 50%;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.email {
    background-image: url("../icons/icon-email-white.svg");
    background-position: 0 50%;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.brochure {
    background-image: url("../icons/icon-brochure-white.svg");
    background-position: 0 50%;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url("../icons/icon-twitter-white.svg");
}

.twitter:hover,
.twitter:focus {
    background-image: url("../icons/icon-twitter-blue.svg");
}

.facebook {
    background-image: url("../icons/icon-facebook-white.svg");
}

.facebook:hover,
.facebook:focus {
    background-image: url("../icons/icon-facebook-blue.svg");
}

.googleplus {
    background-image: url("../icons/icon-googleplus-white.svg");
}

.googleplus:hover,
.googleplus:focus {
    background-image: url("../icons/icon-googleplus-blue.svg");
}

.instagram {
    background-image: url("../icons/icon-instagram-white.svg");
}

.instagram:hover,
.instagram:focus {
    background-image: url("../icons/icon-instagram-blue.svg");
}

.bg-navy {
    background-color: #0d2036;
}

.bg-teal {
    background-color: #74a19a;
}

.btn-insider {
    color: #fff;
    background-color: #FF6442;
    border-color: #FF6442;
   }

  .btn-insider:hover {
    color: #fff;
    background-color: #d84d2f;
    border-color: #d84d2f;
   }

   .btn-insider:focus {
    color: #fff;
    background-color: #d84d2f;
    border-color: #d84d2f;
   }

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Black.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-BlackItalic.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Medium.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-MediumItalic.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Brandon Grotesque;
    src: url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('http://kylewagner.me/insider-journeys/assets/fonts/BrandonGrotesque/BrandonGrotesque-Regular.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}